@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-slide {
  transition: transform 0.5s ease-in-out;
}



[data-theme='dark'] {
  color: #ffffff;
  --background-color: #333;
}

[data-theme='light'] {
  color: #4F547B;
  --background-color: #ffffff;
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
}
